<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Friends </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/add-friend']">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="friends?.length > 0; else elseBlock">
    <ion-list>
      <ion-item
        *ngFor="let friend of friends"
        [routerLink]="['/friend-detail', friend.id]"
      >
        <ion-icon name="arrow-forward-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ friend.firstName }} {{ friend.lastName }} </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #elseBlock>
    <p>No friends :( You can add one by clicking the "+" button.</p>
  </ng-template>
</ion-content>
